body {
    background-color:  var(--nada);
    color: var(--cor-de-font);
    font-family: 'Stencil Std', serif;
}

/* #  para id */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 20px 20px;
  }

  
  body {
    background-image:  #ffffff;
}

.cabeçalho {
    background-color: #81eb70;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

..cabeçalho-imagem a {
    width: 5%;
    padding: 5px 5px;
    display: block;
}

.cabeçalho-imagem {
    border-radius: 50%;
    width: 80px;
}

.foto-corpo a {
    width: 30%;
    padding: 40px;
}

.paragrafo-um {
    text-align: justify;
}

.foto-corpo {
    width: 65%;
    padding: 10px 0;
}

#Trab1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

#Trab2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

#Trab3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.cabeçalho-lista-item {
    display: none;
    font-size: 20px;
}

.texto-cabecalho {
    font-size: 20px;
    margin: 27px 0px;
}

.corpo-div-conteudo {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
}

.roda-pé {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border: 2px solid rgb(160, 154, 154);
}

.nome-aluno {
    padding: 0px 0px 20px 0px;
}

}


.roda-pé-imagem {
    width: 40px;
    border-radius: 50%;
    padding: 0px 30px;
}

.roda-pé-texto {
    margin: 10px 0px 5px 0px;
    color: rgb(0, 0, 0);
}

li {
    float: left;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
}

li.dropdown {
    display: inline-block;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.fim {
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 2.5;
}

.meio {
    display: flex;
    justify-content: center;
}

.corpo-titulo {
    text-decoration: underline;
}
}

@media screen and (min-width:656px) and (max-width: 1065px) {
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(174, 128, 231, 0.821), rgb(152, 199, 216));
}

.cabeçalho {
    background-color: rgb(174, 128, 231);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.cabeçalho-imagem a {
    width: 5%;
    padding: 5px 5px;
    display: block;
}

.cabeçalho-imagem {
    border-radius: 50%;
    width: 80px;
}

.foto-corpo a {
    width: 30%;
    padding: 40px;
}

.paragrafo-um {
    text-align: justify;
}

.foto-corpo {
    width: 30%;
    padding: 40px;
}

#Trab1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    padding-top: 140px;
}

#Trab2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#Trab3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.cabeçalho-lista-item {
    display: inline-block;
    font-size: 20px;
}

.texto-cabecalho {
    font-size: 20px;
    margin: 27px 0px;
}

.corpo-div-conteudo {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
}

.roda-pé {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border: 2px solid rgb(160, 154, 154);
}

.nome-aluno {
    padding: 0px 0px 20px 0px;
}

.roda-pé-imagem {
    width: 40px;
    border-radius: 50%;
    padding: 0px 30px;
}

.roda-pé-texto {
    margin: 10px 0px 5px 0px;
    color: rgb(0, 0, 0);
}

li {
    float: left;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
}

li.dropdown {
    display: inline-block;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.fim {
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 2.5;
}

.meio {
    display: flex;
    justify-content: center;
}

.corpo-titulo {
    text-decoration: underline;
}
}

@media screen and (min-width: 1065px) {
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(174, 128, 231, 0.821), rgb(152, 199, 216));
}

.cabeçalho {
    background-color: rgb(174, 128, 231);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.cabeçalho-imagem a {
    width: 5%;
    padding: 5px 5px;
    display: block;
}

.cabeçalho-imagem {
    border-radius: 50%;
    width: 80px;
}

.foto-corpo a {
    width: 30%;
    padding: 40px;
}

.paragrafo-um {
    text-align: justify;
}

.foto-corpo {
    width: 30%;
    padding: 40px;
}
