body {
    background-color:  var(--nada);
    color: var(--cor-de-font);
    font-family: 'Stencil Std', serif;
}

/* #  para id */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 20px 20px;
  }

  
  body {
    background-image:  #ffffff;
}

.cabeçalho {
    background-color: #64f84d;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.cabeçalho-lista-item {
    display: none;
    font-size: 20px;
}

.texto-cabecalho {
    font-size: 20px;
    margin: 27px 0px;
}

.corpo-div-conteudo {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
}

.roda-pé {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border: 2px solid rgb(160, 154, 154);
}