body {
    background-color:  var(--nada);
    color: var(--cor-de-font);
    font-family: 'Stencil Std', serif;
}

/* #  para id */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 20px 20px;
  }

  
  body {
    background-image:  #ffffff;
}

.cabeçalho {
    background-color: #81eb70;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.cabeçalho-lista-item {
    display: none;
    font-size: 20px;
}

.texto-cabecalho {
    font-size: 20px;
    margin: 27px 0px;
}

.corpo-div-conteudo {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
}


li {
    float: left;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
}

li.dropdown {
    display: inline-block;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;

}

@media screen and (min-width:656px) and (max-width: 1065px) {
* {
    margin: 0;
    padding: 0;
}

#solo-imagem {
 width: 30%;
}